html,body {
    background-color: #D8D8D8;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
}

.no-js main {
  display: none !important;
}

.main {
  display: flex;
  width: 100%;
}

.side {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 3px;
  border-style: solid;
  border-color: #C3C3C3;
}

.side img {
  height: 110px;
  margin-right: 1.5rem;
  margin-top: 3rem;
}

nav {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

nav > a {
  text-decoration: none;
  margin-bottom: 2rem;
  color: black;
}

.dashboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.dashboard h1 {
  font-weight: 300;
  font-size: 1.5em;
}

.summary {
  width: 13rem;
  border-width: 3px;
  border-style: solid;
  border-color: #C3C3C3; 
  margin-right: 2rem;
  padding: 0.5rem;
}

.summary > p {
  font-size: 0.8em;
} 

.values {
  margin-left: 1rem;
  font-weight: 500;
}

.summary-container {
  display: flex
}

.days-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #D8D8D8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D8D8D8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}